<% if resource.errors.any? %>
  <div id="error_explanation" class="down_links">
      <% resource.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
  </div>
<% elsif alert.present? %>
  <div id="error_explanation" class="down_links">
    <%= alert %><br>
  </div>
<% end %>
