#error_explanation {
    color: red;
}

.down_links {
    display: block;
    text-align: center;
}

.field, .actions, .button_to {
    text-align: center;
    font-weight: lighter;
    font-family: none;
    input[type="submit"]:not(#user_remember_me) {
        width: 26.5vw;
    }
    input:not(#user_remember_me) {
        height: 7vh;
        border: 1px solid lightgray;
        align-items: center;
        font-size: 20px;
        padding-left: 15px;
        margin: 7px;
        width: 25vw;
    }
}


.actions input {
    font-size: 17px;
    background-color: steelblue;
}

.button_to input {
    background-color: white;
}

h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 15vh;
}

table {
    float: right;
    cell-spacing: 0px;
    .initials {
        height: 8vh;
        display: block;
        float: right;
        width: 7vw;
        fill: steelblue;
        cursor: pointer;
        user-select: none;
    }
    .options {
        position: fixed;
        float: right;
        padding: 0px 16px;
    }
    #options {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.28);
        height: 4vh;color: gray;
        display: none;
        a {
            text-decoration: none;
            color: black;
            padding: 6px;
        }
    }
}

.logo {
    transform-origin: top left;
    transform: scale(0.6);
    img {
        transform-origin: top left;
        transform: scale(0.6);
    }
}
